.storeItem {
   margin-left: 20px; 
   margin-top: 20px;
  width: 300px;
  height: 330px;
  box-shadow: -1px -1px 32px -17px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 249, 249);
}

.storeImg {
    width: 300px;
    height: 250px;
}

.storeImg img {
  width: 100%;
  height: 100%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}