.storeItemList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 40px;
}

@media (max-width: 1000px) {
  .storeItemList {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


