.container {
  width: 73%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
